<strong>
    I like <em>cats</em>, they are so fluffy and soft.
</strong>
<p>
    Click 
    <span class="ajax-get" data-url="@Url.Action("Dogs", "AJAXGET")">
        here
    </span>
     if you dogs
</p>