@{
    ViewBag.Title = "Dogs";
}

<h2>Dogs</h2> 
are not better than cats.  They smell, and you have to pick 
up their poo.

<p>
    <span data-url="@Url.Action("cats", "ajaxget")" class="ajax-get">CATS!</span>
</p>