@{
    ViewBag.Title = "Index";
}

<h2>AJAX Get using jQuery</h2>

<div id="content">
    I'm some text. When you click this 
    <span class="ajax-get">link</span>, 
    this text will be replaced
</div>
