@{
    ViewBag.Title = "Tab Experiment";
}

<h2>Tab Experiment</h2>

<ul class="tabSelection">
    <li data-tab-id="tab1">Tab 1</li>
    <li data-tab-id="tab2">Tab 2</li>
    <li data-tab-id="tab3">Tab 3</li>
</ul>

<div id="tab1" class="active">
    Tab 1 content
</div>

<div id="tab2" class="hide">
    Tab 2 content
</div>

<div id="tab3" class="hide">
    Tab 3 content
</div>
