@model IEnumerable<eCommerce.Models.Product>

@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Featured Items.</h1>
                <h2>These products will blow your mind.</h2>
            </hgroup>
            <p>
                Welcome to the best electronics store on the net.
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
@foreach (var product in Model)
{
   @Html.Partial("ProductListing", product)
}
