@{
    ViewBag.Title = "High Scores for my sweet games";
}

<h2>High Scores</h2>
<ul>
    <li>
        <a href="@Url.Action("GuessThatNumber", "HighScores")">
            Guess That Number
        </a>
    </li>
</ul>
