@{
    ViewBag.Title = "Dustin";
}

<h2>Hello World!</h2>

<div>
    <span>Hi.  My name is Dustin.</span>
</div>

<div class="cats">
    I like cats.
</div>

<div class="dogs">
    Dogs are cool too.
</div>

<div class="list">
    <div class="divImg">
        <img src="http://fc00.deviantart.net/fs71/f/2010/295/3/6/vault_boy_vector_by_warnerator-d318mok.jpg" />
    </div>
    <div class="divImg">
        <img src="http://fc00.deviantart.net/fs71/f/2010/295/3/6/vault_boy_vector_by_warnerator-d318mok.jpg" />
    </div>
    <div class="divImg">
        <img src="http://fc00.deviantart.net/fs71/f/2010/295/3/6/vault_boy_vector_by_warnerator-d318mok.jpg" />
    </div>
    <div class="divImg">
        <img src="http://fc00.deviantart.net/fs71/f/2010/295/3/6/vault_boy_vector_by_warnerator-d318mok.jpg" />
    </div>
    <div class="divImg">
        <img src="http://fc00.deviantart.net/fs71/f/2010/295/3/6/vault_boy_vector_by_warnerator-d318mok.jpg" />
    </div>
    <div class="divImg">
        <img src="http://fc00.deviantart.net/fs71/f/2010/295/3/6/vault_boy_vector_by_warnerator-d318mok.jpg" />
    </div>
</div>