@{
    ViewBag.Title = "Carousel Experiment";
}

<h2>Carousel Experiment</h2>

<div class="carousel active">
    carousel 1
    <img src="asdf.jpg" />
</div>

<div class="carousel hide">
    carousel 2
</div>

<div class="carousel hide">
    carousel 3
</div>

<div class="carousel-next">
    Next
</div>