@{
    ViewBag.Title = "Index";
}

<h2>About</h2>

<ul class="about">
    <li>
        Who?
    </li>
    <li>
        What?
    </li>
    <li>
        Where?
    </li>
    <li>
        Why?
    </li>
    <li>
        How?
    </li>
</ul>

<div>
    @Html.Partial("who")
</div>